@font-face {
    font-family: 'Helvetica Neue';
    src: url(assets/fonts/HelveticaNeue.ttc);
}

body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    font-family: 'HelveticaNeue';
}

header {
    display: flex;
    justify-content: center;
}

.landing {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.button {
    display: flex;
    justify-content: center;
}

.top-logo {
    margin-top: 79px;
}

.btn-1 {
    margin-top: 123px;
    height: 60px;
    width: 387px;
    border: none;
    border-radius: 8px;
    padding: 18px 60px 18px 60px;
    background-color: #62A1EB;
    color: white;
}

.btn-2 {
    margin-top: 23px;
    height: 60px;
    width: 387px;
    border: none;
    border-radius: 8px;
    padding: 18px 60px 18px 60px;
    background-color: #62A1EB;
    color: white;
}