@font-face {
    font-family: HelveticaNeue;
    src: url(assets/fonts/HelveticaNeue.ttc);
}

:root {
    --primarycolor: #62A1EB;
    --secondarycolor: #fff;
}

* {
    font-family: HelveticaNeue;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 79px;
}

.landing {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.button {
    display: flex;
    justify-content: center;
}

.btn-1,
.btn-2 {
    height: 60px;
    width: 387px;
    border: none;
    border-radius: 8px;
    padding: 18px 60px 18px 60px;
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
}

.btn-1 {
    margin-top: 123px;
}

.btn-2 {
    margin-top: 26px;
}


/* Responsive Design for small screens(IPHONE 13) */

@media (max-width: 390px) {}