:root {
    --primarycolor: #F6F6F6;
    --secondarycolor: #fff;
    --arrowbutton: #D9D9D9;
    --btnprimarycolor: #62A1EB;
    --btnsecondarycolor: #fff;
    --bordercolor: #8AC0E2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'HelveticaNeue';
    /* overflow-x: hidden; */
    background-color: var(--primarycolor);
    max-width: 1920px;
    max-height: 1080px;
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}


nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav .container ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 61px;
    margin-bottom: 42px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}


header a {
    margin-left: 70px;
    margin-top: 53px;
}

section {
    width: 62%;
    height: 90%;
    margin-left: 347px;
    display: flex;
    justify-content: center;
    background-color: var(--secondarycolor);
}

.details {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-style: normal;
    color: #2E2E2E;
}

.user-info form .user-details {
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form .user-details .input-box {
    margin-right: 63px;
}

.user-details .input-box .details {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.user-details .input-box input {
    width: 407px;
    height: 60px;
    border-radius: 8px;
    border-color: #62A1EB;
    padding-left: 16px;
}

.input-box-long {
    margin-top: 48px;
}

form .user-details .input-box-long {
    margin-right: 63px;
}

.user-details .input-box-long .details {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.user-details .input-box-long input {
    width: 878px;
    height: 60px;
    border-radius: 8px;
    border-color: #62A1EB;
    padding-left: 16px;
}

.input-box select {
    margin-top: 52px;
    padding: 16px;
    line-height: 21px;
    width: 878px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: #EBEBEB;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.user-details .input-box .input-long {
    width: 878px;
    height: 60px;
    border-radius: 8px;
    border-color: #62A1EB;
    padding-left: 16px;
}

.validation-input {
    border: 1px solid #E52F2F !important;
}

.validation-text {
    color: #E52F2F;

}


.button {
    display: flex;
    justify-content: right;
    margin-top: 95px;
    margin-right: 174px;
    margin-bottom: 44px;
}

.btn-3 {
    width: 176px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: var(--btnprimarycolor);
    color: var(--btnsecondarycolor);
    font-size: 20px;
}


.footer {
    display: flex;
    justify-content: center;
    margin-top: 67px;
    padding-bottom: 42px;
}



/* Responsive Design for small screens(IPHONE 13) */